<!-- Need of Swiper -->
<link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css"/>
<script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
<!-- wolf-chews-tweets -->
<link rel="stylesheet" href="https://unpkg.com/wolf-chews-tweets@1/wolf-chews.min.css">
<script src="https://unpkg.com/wolf-chews-tweets@1/wolf-chews.min.js"></script>


<wolf-chews 
    url="https://raw.githubusercontent.com/ohmykreee/WBT-for-kblog/data/output/kreeejiang_likes.json"
    method="gallery">
</wolf-chews>
