<!-- Need of twitter Widgets -->
<script type="application/javascript" src="https://platform.twitter.com/widgets.js"></script>
<!-- Need of Swiper -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@7/swiper-bundle.min.css"/>
<script src="https://cdn.jsdelivr.net/npm/swiper@7/swiper-bundle.min.js"></script>
<!-- wolf-chews-tweets -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/wolf-chews-tweets@1/wolf-chews.min.css">
<script src="https://cdn.jsdelivr.net/npm/wolf-chews-tweets@1/wolf-chews.min.js"></script>


<wolf-chews 
    url="https://raw.githubusercontent.com/ohmykreee/WBT-for-kblog/data/output/kreeejiang_likes.json"
    method="widgets-light">
</wolf-chews>
