<script src="https://cdn.jsdelivr.net/npm/gridjs/dist/gridjs.umd.js"></script>
<link href="https://cdn.jsdelivr.net/npm/gridjs/dist/theme/mermaid.min.css" rel="stylesheet" />

<div id="donate-table"></div>

<script>
  const baseurl = document.querySelector('meta[name="siteBaseUrl"]').content;
  const jsonfile = baseurl.concat("/res/page/donate/donate.json");
    new gridjs.Grid({
  columns: ["时间", "打赏留言", "备注"],
  search: true,
  language: {
    "search": {
      "placeholder": "搜索..."
    },
    "pagination": {
      "previous": "上一页",
      "next": "下一页"
    },
    loading: "加载中...",
    noRecordsFound: "该关键词未找到"
  },
  pagination: {
    enabled: true,
    limit: 10,
    summary: false
  },
  style: {
    td: {
      "align": "center",
      "color": "#222"
    },
    th: {
      "color": "#222",
      "align": "center",
    }
  },
  server: {
    url: jsonfile,
    then: data => data.sponsor.map(sponsor => 
      [sponsor.date, sponsor.comment, sponsor.notes]
    )
  } 
}).render(document.getElementById("donate-table"));
</script>